@font-face {
  font-family: 'Interstate';
  src: url('/fonts/InterstateLightCondensed.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Interstate';
  src: url('/fonts/InterstateBoldCondensed.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Interstate', sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 